.git
.gitignore

**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache

**/node_modules
**/dist
**/.vite

apps/api/.venv
apps/api/.env
apps/web/.env

data/app.db
data/uploads/*
data/exports/*
